@forward 'base/variables';
@forward 'base/general';
@forward 'base/text';

@forward 'layout/footer';

@forward 'components/buttons';
@forward 'components/form';
@forward 'components/top';
@forward 'components/nav';
@forward 'components/hero';
@forward 'components/image-slider';
@forward 'components/blog';
@forward 'components/product-categories';
@forward 'components/product-grid';
@forward 'components/news-grid';
@forward 'components/call-to-action';
@forward 'components/call-to-action-wapp';
@forward 'components/food-brands';
@forward 'components/testimonials';
@forward 'components/our-values';
@forward 'components/featured-services';
@forward 'components/services-page';
@forward 'components/staff-grid';
@forward 'components/search-results';
@forward 'components/comments';
@forward 'components/pagination';
@forward 'components/bottom.scss';
@forward 'components/whatsapp-link';
@forward 'components/bag-popup';
@forward 'components/animations';