.product-grid {
    .product-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        transition: var(--main-transition);

        &:hover {
            transform: translateY(-.2rem);
        }

        a {
            width: 100%;
            margin-bottom: 0 !important;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
            }
            
            h5 {
                padding: 1.5rem 1.5rem 0;
                margin-bottom: 0;
            }

            span.price {
                margin-bottom: 1.5rem;
                padding: .5rem 1rem;
                border-radius: var(--border-radius);
                text-transform: uppercase;
                color: var(--primary);
                background-color: var(--lightgray);
                transition: var(--main-transition);

                &:hover {
                    background-color: var(--darkwhite);
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .product-grid {
        .product-wrapper {
            a {
                img {
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .product-grid {
        .product-wrapper {
            a {
                img {
                    height: auto;
                }
            }
        }
    }
}