.top {
    padding: .6rem 0;
    background-color: var(--secondary);
    color: var(--light);

    .container {
        max-width: var(--content-max-width);

        a {
            i {
                font-size: .9rem;
                color: var(--yellow);
            }
        }

        .account-options {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 1.4rem;

            a {
                i {
                    color: var(--light);
                }
            }
        }
    }
}