:root {
    --black: #363A42;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #f95473;
    --red: #dc3545;
    --orange: #ffc130;
    --yellow: #ffd65c;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --white-semi-transparent: #ffffff9c;
    --white-transparent: #ffffff57;
    --darkwhite: #f8f9fa;
    --gray: #8f8f8f21;
    --gray-dark: #434242;
    --green-dark: #363636;
    --light-primary: #02a9314a;
    --primary: #00641C;
    --dark-primary: #2f5415;
    --secondary: #2b8f47;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffd65c;
    --danger: #dc3545;
    --light: #f4f4f4;
    --lightgray: #eeeeee;
    --dark: #222923;
    --darktransparent: #353535bf;
    --light-whatsapp: #25d366;
    --dark-whatsapp: #008069;
    --box-shadow:0px 5px 8px 1px rgba(0,0,0,0.04);
    --hard-shadow:-30px 30px 0 0 rgba(43,143,71,.2);
    --text-shadow: 5px 5px 20px #000000ab;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family: "Open Sans", sans-serif;
    /* Font Sizes */
    --font-normal: 1rem;
    --font-small: 0.8rem;
    /* Sidebar */
    --sidebar-width: 280px;
    --content-max-width: 1350px;

    --border-radius: 0px;
    --main-transition: all ease-in-out .25s;
}
